<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Sign up</h2>
  <label for="username">Username</label>
  <input type="text" name="username" autocomplete="off" required />
  <div class="username error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign up</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const usernameError = document.querySelector('.username.error'); // clean code up until here
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    // prevent default form function from being performed
    e.preventDefault();
    // clear errors after function is executed
    usernameError.textContent = '';
    passwordError.textContent = '';

    // get values
    const username = form.username.value;
    const password = form.password.value;

    // try, catch to extract details, parse header, body and method values
    try {
        const res = await fetch('/signup', {
            method: 'POST',
            body: JSON.stringify({ username, password }),
            headers: {'Content-Type': 'application/json'}
        })
        const data = await res.json();
        if (data.errors) {
            usernameError.textContent = data.errors.username;
            passwordError.textContent = data.errors.password;
        }
        console.log(data.user)
        if (data.user) {
            location.assign('/');
        }
        
    }
    
    catch (err) {
        console.log(err)
    }

})
</script>